html {
  box-sizing: border-box;
  height: 100%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.background {
  margin-top: 200px;
  width: 100%;
}

#card-array {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}

/* ---------- Start: Score panel ---------- */

  /* ----- Score Panel ----- */
.scorepanel {
  width: 100%;
  display: flex;
}
.scorepanel ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
  /* ----- Timer ----- */
  .timer {
    color: white;
    font-size: 20px;
    font-family: 'Black Ops One', cursive;
  }
  /* ----- Turns ----- */
  #turns, .turns {
    color: white;
    font-size: 20px;
    font-family: 'Black Ops One', cursive;
  }
  /* ----- Completed ----- */
  #completed {
    color: white;
    font-size: 20px;
    font-family: 'Black Ops One', cursive;
  }
  /* ----- Reset ----- */
  #reset {
    width: 50px;
    height: 30px;
  }

/* ---------- End: Score panel ---------- */

/* ---------- Start: Styling the cards ---------- */

#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#buttons button {
  width: 120px;
  height: 120px;
  margin: 4px;
  font-size: 2rem;
  border-radius: 20px;
}

.face-down {
  background: black;
}

.face-up {
  background: white;
}

/* ---------- End: Styling the cards ---------- */

/* ---------- Start: The Outcome ---------- */

.outcome {
  width: 100%;
  margin-top: 100px;
  color: white;
  font-size: 50px;
  text-align: center;
}

/* ---------- End: The Outcome ---------- */


div.deck {
  width: 100px;
  height: 80px;
  display: flex;
}